<tr id= "question_group_<%= question_group.id %>">
  <colgroup>
    <col width="50">
    <col width="250">
    <col width="100">
    <col width="100">
  </colgroup>
  
    <% if can_administer? %>
      <th><%= question_group.id%></th>
      <th><%= link_to question_group.name, new_question_group_answer_group_path(question_group) %></th>
      <th><%= question_group.writer %></th>
     
      <th><%= question_group.created_at.strftime("%Y-%m-%d") %></th>
      
      
      <!--line11:응답하는 곳으로, line17:문제생성하는 곳으로 가는 코드
      <%= link_to question_group.name, question_group_questions_path(question_group)  %>
      -->
      
      
    <% else %>
      <%= question_group.name %>
      
    <% end %>

  
  <!--
  <td>
    <ul class="horizontal-list">
      <% if can_administer? %>
        <li><%= link_to "Results", [:results, question_group] %></li>
        <li><%= link_to "Delete", [question_group], method: :delete %></li>
      <% end %>
    </ul>
  </td>
  -->
  
</tr>
